<!DOCTYPE html>
<html>
  <head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>GALINA - REACH YOUR SATISFIATION</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="plugins/photoswipe/dist/photoswipe.css" />
    <link rel="stylesheet" href="plugins/photoswipe/dist/default-skin/default-skin.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css" />


    <!-- CSS Icons -->
    <!-- <link rel="stylesheet" href="css/themify-icons.css" /> -->
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="css/themes/theme-blue.min.css" />
    
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body class="header-horizontal dark-overlay">
    <%- body %>

  </body>
</html>
