<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<div id="body-wrapper">      
    <!-- Header -->
    <header id="header" class="header-horizontal dark">
      <!-- Module - Navigation -->
      <nav id="navigation-main" class="module module-nav">
          <ul class="nav nav-main-horizontal">
              <li><a href="#home">Trang chủ</a></li>
              <li><a href="#about">Giới thiệu</a></li>
              <li><a href="#rooms">Phòng lưu trú</a></li>
              <li><a href="#features">Tiện ích</a></li>
              <li><a href="#gallery">Hình ảnh</a></li>
              <li><a href="#who-we-are">Đơn vị chủ quản</a></li>
              <li><a href="#contact">Liên hệ</a></li>
          </ul>
          <div class="selector"></div>
      </nav>
      <!-- Module - Objects -->
      <div class="module module-object" data-toggle="panel-objects">
          <img class="object-image" src="img/photos/object_thumbnail.png" alt="" style="height: 36px">
          <span class="object-name">Premium Hotel</span>
          <span class="object-indicator"><i class="ti ti-menu"></i></span>
      </div>
      <!-- Module - Language -->
      <nav class="module module-language mr-3">
          <ul class="nav nav-main-horizontal nav-language">
              <li><a id="lang-vn" href="#">VN</a></li>
              <li><a id="lang-en" class="active" href="#">EN</a></li>
              <li><a id="lang-rus"href="#">RUS</a></li>
              <li><a id="lang-kr" href="#">KR</a></li>
          </ul>
      </nav>
      <!-- Module - Navigation Toggle -->
      <div class="module module-nav-toggle">
          <a href="#" id="nav-toggle" class="nav-toggle"><span></span><span></span><span></span><span></span></a>
      </div>
    </header>
    <!-- Header / End -->
  
    <!-- Content -->
    <div id="content">

      <!-- Section / Home -->
      <section id="home" class="section h-fullheight bg-dark cover dark">
          
          <!-- Slider Main -->
          <div class="slider-main slider-kenburns inner-controls">
              <!-- Slide -->
              <div class="slide">
                  <div class="slide-bg bg-image-holder bg-image-fixed">
                      <img src="img/hotel/slider01.jpg" alt="">
                  </div>
                  <div class="slide-content container text-center">
                      <!-- <h1>Toàn cảnh khách sạn</h1> -->
                  </div>
              </div>
              <!-- Slide -->
              <div class="slide">
                  <div class="slide-bg bg-image-holder bg-image-fixed">
                      <img src="img/hotel/slider02.jpg" alt="">
                  </div>
                  <div class="slide-content container text-center">
                      <!-- <h1>Spa Galina</h1> -->
                  </div>
              </div>
              <!-- Slide -->
              <div class="slide">
                  <div class="slide-bg bg-image-holder bg-image-fixed">
                      <img src="img/hotel/slider03.jpg" alt="">
                  </div>
                  <div class="slide-content container text-center">
                      <!-- <h1>Wedding</h1> -->
                  </div>
              </div>
              <!-- Slide -->
              <div class="slide">
                  <div class="slide-bg bg-image-holder bg-image-fixed">
                      <img src="img/hotel/slider04.jpg" alt="">
                  </div>
                  <div class="slide-content container text-center">
                      <!-- <h1>Convention</h1> -->
                  </div>
              </div>
              <!-- Slide -->
              <div class="slide">
                  <div class="slide-bg bg-image-holder bg-image-fixed">
                      <img src="img/hotel/slider05.jpg" alt="">
                  </div>
                  <div class="slide-content container text-center">
                      <!-- <h1>Feel the nature</h1> -->
                  </div>
              </div>
          </div>

          <!-- Slider Navigation -->
          <div class="slider-main-nav">
              <div class="slide"><img src="img/hotel/slider01_thumbnail.jpg" alt=""></div>
              <div class="slide"><img src="img/hotel/slider02_thumbnail.jpg" alt=""></div>
              <div class="slide"><img src="img/hotel/slider03_thumbnail.jpg" alt=""></div>
              <div class="slide"><img src="img/hotel/slider04_thumbnail.jpg" alt=""></div>
              <div class="slide"><img src="img/hotel/slider05_thumbnail.jpg" alt=""></div>
          </div>

          <!-- Gallery Toggle -->
          <a href="#" class="fullscreen-toggle" data-items="gallerySliderItems" data-toggle="gallery">
              <span class="arrow-tl"></span>
              <span class="arrow-tr"></span>
              <span class="arrow-br"></span>
              <span class="arrow-bl"></span>
          </a>
      </section>  

      <!-- Section / About -->
      <section id="about" class="section">

          <div class="container">
              <div class="row gutters-lg align-items-center">
                  <div class="col-lg-4">
                      <span class="badge badge-default mb-5"><i class="fa fa-check-circle text-success"></i>Khách sạn đạt tiêu chuẩn 4 sao Quốc Tế</span>
                      <h1 class="mb-0">GALINA PREMIUM HOTEL</h1>
                      <p class="lead text-muted mb-5">05 Hùng Vương, Nha Trang, Khánh Hoà, Việt Nam</p>
                      <!-- Feature #1 -->
                      <div class="feature feature-1 mb-0">
                          <i class="icon icon-primary ti ti-home animated" data-animation="fadeInDown"></i>
                          <div class="feature-content">
                              <h6 class="mb-0 text-muted">Số luợng phòng:</h6>
                              <span class="h3">163</span>
                          </div>
                      </div>
                      <hr class="hr-sm">
                      <!-- Feature #1 -->
                      <div class="feature feature-1">
                          <i class="icon icon-primary ti ti-fullscreen animated" data-animation="fadeInDown" data-animation-delay="200"></i>
                          <div class="feature-content">
                              <h6 class="mb-0 text-muted">Tổng diện tích:</h6>
                              <span class="h3">960m<sup>2</sup></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                      <img class="rounded shadow" src="img/hotel/galina-hotel.jpg" alt="">
                  </div>
                  <div class="col-lg-4 col-md-6" data-local-scroll>
                      <p class="lead">Tọa lạc ngay trung tâm thành phố Nha Trang và chỉ mất 5 phút đi bộ đến bãi biển, Galina Hotel Mud Bath & Spa là sự lựa chọn mới mẻ và thực sự hoàn hảo dành cho du khách khi đến với thành phố biển xinh đẹp.</p>
                      <p>Ngoài ra, tại GALINA PREMIUM HOTEL chúng tôi còn có cơ sở ngâm tắm bùn khoáng nóng thiên nhiên và trung tâm chăm sóc sức khỏe sắc đẹp lớn nhất thành phố Nha Trang, với hệ thống cơ sở vật chất tốt nhất và hiện đại nhất.</p>
                      <a href="#rooms" class="btn btn-primary animated" data-animation="fadeIn">Check rooms list</a>
                  </div>
              </div>
          </div>

      </section>

      <!-- Section / rooms -->
      <section id="rooms" class="section bg-light pt-0 pb-5">

          <!-- Objects - Search -->
          <div class="objects-search bg-dark dark">
              <div class="bg-image-holder bg-image-fixed zooming"><img src="img/photos/search-bg.jpg" alt=""></div>
              <div class="container">
                  <h1 class="mb-1"> Thông tin kỳ nghỉ</h1>
                  <p class="lead text-muted">Chúng tôi hân hạnh được phục vụ Quý khách.</p>
                  <hr>
                  <form action="#">
                      <div class="row align-items-end">
                          <div class="col-lg-3 col-md-4 form-group">
                              <h5 class="mb-3"><i class="fa fa-arrows-alt text-muted mr-2"></i>Ngày đến - Ngày đi</h5>
                              <!-- <div class="form-inline"> -->
                                  <input type="text" class="form-control form-control-long" placeholder="Đến">
                                  <label class="ml-2 mr-2"></label>
                                  <input type="text" class="form-control form-control-long" placeholder="Đi">
                                  <!-- <label class="ml-2">m<sup>2</sup></label> -->
                              <!-- </div> -->
                          </div>
                          
                          <div class="col-lg-3 col-md-4 form-group">
                              <h5 class="mb-3"><i class="fa fa-bed text-muted mr-2"></i>Nguời lớn - Trẻ em</h5>
                              <!-- <div class="form-inline"> -->
                                  <input type="text" class="form-control form-control-long" placeholder="Nguời lớn">
                                  <label class="ml-2 mr-2"></label>
                                  <input type="text" class="form-control form-control-long" placeholder="Trẻ em">
                                  <!-- <label class="ml-2">khách</label> -->
                              <!-- </div> -->
                          </div>

                          <div class="col-lg-3 col-md-4 form-group">
                              <h5 class="mb-3"><i class="fa fa-random text-muted mr-2"></i>Thông tin đặt chỗ</h5>
                              <!-- <div class="form-inline"> -->
                                  <input type="text" class="form-control form-control-long" placeholder="Tên khách đại diện">
                                  <label class="ml-2 mr-2"></label>
                                  <input type="text" class="form-control form-control-long" placeholder="email / điện thoại">
                              <!-- </div> -->
                          </div>
                          
                          <div class="col-lg-3 form-group">
                              <button class="btn btn-primary btn-block"><i class="fa fa-search mr-2"></i>Gởi thông tin</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>

          <div class="objects-container container">
              <div class="text-right">
                  <!-- Objects - Change Display -->
                  <ul class="nav nav-view" role="tablist">
                      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#grid_view"><i class="fa fa-th"></i></a></li>
                      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#list_view"><i class="fa fa-th-list"></i></a></li>
                  </ul>
              </div>
              <div class="tab-content">
                  <div id="grid_view" class="tab-pane fade show active" role="tabpanel">
                      <!-- Objects - Grid-->
                      <div class="objects-grid gutters-sm row">
                          <div class="col-lg-3 col-6">
                              <!-- Object - Vertical -->
                              <div class="object object-vertical">
                                  <div class="object-image">
                                      <a class="link-inherit" href="object.html"><img src="img/hotel/room-superior.jpg" alt=""></a>
                                  </div>
                                  <div class="object-content">
                                      <h5 class="object-title"><a class="link-inherit" href="object.html">Supperior</a></h5>
                                      <ul class="object-details list-unstyled">
                                          <li><span class="text-muted">Diện tích:</span> 32m<sup>2</sup></li>
                                          <li><span class="text-muted">Cửa sổ:</span> Có</li>
                                          <li><span class="text-muted">Ban công:</span> Không</li>
                                          <li><span class="text-muted">Hướng nhìn:</span> Thành phố</li>
                                          <li><span class="text-muted">Số khách:</span> 02 nguời lớn, 02 trẻ em</li>
                                      </ul>
                                      <span class="object-price">1.800.000 VND <sup>đêm</sup> </span>
                                      <a href="object.html" class="object-btn btn btn-secondary"><span class="hidden-xs-down">Xem</span> Chi tiết</a>
                                  </div> 
                              </div>
                          </div>
                          <div class="col-lg-3 col-6">
                              <!-- Object - Vertical -->
                              <div class="object object-vertical">
                                  <div class="object-image">
                                      <a class="link-inherit" href="object.html"><img src="img/hotel/room-deluxe.jpg" alt=""></a>
                                  </div>
                                  <div class="object-content">
                                      <h5 class="object-title">
                                          <a class="link-inherit" href="object.html">Deluxe</a>
                                          <i class="fa fa-check-circle text-success ml-2" data-toggle="tooltip" data-placement="top" title="Best choice!"></i>
                                      </h5>
                                      <ul class="object-details list-unstyled">
                                          <li><span class="text-muted">Diện tích:</span> 37m<sup>2</sup></li>
                                          <li><span class="text-muted">Cửa sổ:</span> Có</li>
                                          <li><span class="text-muted">Ban công:</span> Có</li>
                                          <li><span class="text-muted">Hướng nhìn:</span> Biển</li>
                                          <li><span class="text-muted">Số khách:</span> 02 nguời lớn, 02 trẻ em</li>
                                      </ul>
                                      <span class="object-price">2.400.000 VND <sup>đêm</sup> </span>
                                      <a href="object.html" class="object-btn btn btn-secondary"><span class="hidden-xs-down">Xem</span> Chi tiết</a>
                                  </div> 
                              </div>
                          </div>
                          <div class="col-lg-3 col-6">
                              <!-- Object - Vertical -->
                              <div class="object object-vertical">
                                  <div class="object-image">
                                      <a class="link-inherit" href="object.html"><img src="img/hotel/room-suite-city.jpg" alt=""></a>
                                  </div>
                                  <div class="object-content">
                                      <h5 class="object-title"><a class="link-inherit" href="object.html">Suite City View</a></h5>
                                      <ul class="object-details list-unstyled">
                                          <li><span class="text-muted">Diện tích:</span> 54m<sup>2</sup></li>
                                          <li><span class="text-muted">Cửa sổ:</span> Có</li>
                                          <li><span class="text-muted">Ban công:</span> Có</li>
                                          <li><span class="text-muted">Hướng nhìn:</span> Thành phố</li>
                                          <li><span class="text-muted">Số khách:</span> 02 nguời lớn, 02 trẻ em</li>
                                      </ul>
                                      <span class="object-price">3.200.000 VND <sup>đêm</sup> </span>
                                      <a href="object.html" class="object-btn btn btn-secondary"><span class="hidden-xs-down">Xem</span> Chi tiết</a>
                                  </div> 
                              </div>
                          </div>
                          <div class="col-lg-3 col-6">
                              <!-- Object - Vertical -->
                              <div class="object object-vertical">
                                  <div class="object-image">
                                      <a class="link-inherit" href="object.html"><img src="img/hotel/room-suite-sea.jpg" alt=""></a>
                                  </div>
                                  <div class="object-content">
                                      <h5 class="object-title">
                                        <a class="link-inherit" href="object.html">Suite Sea View</a>
                                        <i class="fa fa-check-circle text-success ml-2" data-toggle="tooltip" data-placement="top" title="Best choice!"></i>
                                      </h5>
                                      <ul class="object-details list-unstyled">
                                          <li><span class="text-muted">Diện tích:</span> 56m<sup>2</sup></li>
                                          <li><span class="text-muted">Cửa sổ:</span> Có</li>
                                          <li><span class="text-muted">Ban công:</span> Có</li>
                                          <li><span class="text-muted">Hướng nhìn:</span> Biển</li>
                                          <li><span class="text-muted">Số khách:</span> 02 nguời lớn, 02 trẻ em</li>
                                      </ul>
                                      <span class="object-price">3.800.000 VND <sup>đêm</sup> </span>
                                      <a href="object.html" class="object-btn btn btn-secondary"><span class="hidden-xs-down">Xem</span> Chi tiết</a>
                                  </div> 
                              </div>
                          </div>
                      </div>
                  </div>
                  
              <!-- Pagination -->
              <!-- <nav class="mt-4">
                  <ul class="pagination justify-content-end">
                      <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                              <i class="ti-angle-left"></i>
                              <span class="sr-only">Previous</span>
                          </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                              <i class="ti-angle-right"></i>
                              <span class="sr-only">Next</span>
                          </a>
                      </li>
                  </ul>
              </nav> -->
          </div>

      </section> 

      <!-- Section / Features -->
      <section id="features" class="section">

          <div class="container">
              <div class="row align-items-center" data-local-scroll>
                  <div class="col-lg-4">
                      <h1>Tiện ích</h1>
                      <p class="lead mb-5">Chúng tôi luôn mang đến cho quý khách các dịch vụ tiện ích tốt nhất.</p>
                      <!-- Feature #1 -->
                      <div class="feature feature-1">
                          <i class="icon icon-primary ti ti-cup"></i>
                          <div class="feature-content">
                              <h5 class="mb-0">Tiện tích trong phòng</h5>
                              <p class="text-muted">Wifi/internet. Máy lạnh. Truyền hình cáp. Minibar.</p>
                          </div>
                      </div>
                      <!-- Feature #1 -->
                      <div class="feature feature-1">
                          <i class="icon icon-primary ti ti-shine"></i>
                          <div class="feature-content">
                              <h5 class="mb-0">Dịch vụ tại phòng</h5>
                              <p class="text-muted">Đặt món ăn phục vụ tại phòng. Giặt quần áo.</p>
                          </div>
                      </div>
                      <a href="#gallery" class="btn btn-secondary mb-4">Thư viện ảnh</a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <!-- Card -->
                      <div class="card">
                          <img src="img/hotel/slider03.jpg" alt="" class="card-image">
                          <div class="card-block">
                              <h5 class="mb-0">Buffet Sáng tiêu chuẩn 4 sao</h5>
                              <p class="text-muted mb-0">Không gian nhà hàng gây ấn tượng bởi sự sang trọng và hiện đại. Tại dây quý khách sẽ đưọc thưởng thức buffet sáng với hơn 120 món ăn đuợc chế biến bởi bếp truởng hàng đầu.</p>
                          </div>
                      </div>
                      <!-- Card -->
                      <div class="card">
                          <img src="img/hotel/gym.jpg" alt="" class="card-image">
                          <div class="card-block">
                              <h5 class="mb-0">Phòng GYM</h5>
                              <p class="text-muted mb-0">Với hệ thống các trang thiết bị hiện đại và dụng cụ luyện tập luôn sẵn sàng phục vụ khách hàng hằng ngày từ 5 giờ sáng.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <!-- Card -->
                      <div class="card">
                          <img src="img/hotel/hoboi.jpg" alt="" class="card-image">
                          <div class="card-block">
                              <h5 class="mb-0">Hồ bơi view biển</h5>
                              <p class="text-muted mb-0">Hồ bơi sân thượng thoáng mát, hút trọn view biển trong một tầm nhìn. Là nơi đẹp nhất để quý khách hàng thư giãn và tìm cho mình những góc ảnh đẹp để lưu giữ kỷ niệm khi lưu trú.</p>
                          </div>
                      </div>
                      <!-- Card -->
                      <div class="card">
                          <img src="img/hotel/spa.jpg" alt="" class="card-image">
                          <div class="card-block">
                              <h5 class="mb-0">Tắm bùn khoáng & Spa</h5>
                              <p class="text-muted mb-0">Bạn mệt mỏi sau 1 ngày tham quan du lịch, bạn có thể sử dụng các dịch vụ massage, thư giãn giúp bạn thoải mái hơn.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </section>

      <!-- Section / Gallery -->
      <section id="gallery" class="section bg-black cover dark">

          <h2 class="sr-only">Gallery</h2>

          <div class="carousel-gallery">
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="0"><img src="img/gallery/gallery01.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="1"><img src="img/gallery/gallery02.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="2"><img src="img/gallery/gallery03.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="3"><img src="img/gallery/gallery04.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="4"><img src="img/gallery/gallery05.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="5"><img src="img/gallery/gallery06.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="6"><img src="img/gallery/gallery07.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="7"><img src="img/gallery/gallery08.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="8"><img src="img/gallery/gallery09.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="9"><img src="img/gallery/gallery10.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="10"><img src="img/gallery/gallery11.jpg" alt=""></a>
              <a href="#" data-toggle="gallery" data-items="galleryCarouselItems" data-slide="11"><img src="img/gallery/gallery12.jpg" alt=""></a>
          </div>

      </section>

      <!-- Section / Who we are? -->
      <section id="who-we-are" class="section">

          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-6">
                      <figure class="media-box">
                          <div class="image"><img src="img/hotel/about-hdg.jpg" alt=""></div>
                          <button class="btn-play animated visible" data-animation="fadeInUp" data-toggle="video-modal" data-target="#modalVideo" data-video="https://www.youtube.com/embed/AD-D6uSYkqs"></button>
                      </figure>
                  </div>
                  <div class="col-lg-5 push-lg-1 col-md-6">
                      <h1>Tập đoàn Hải Đăng</h1>
                      <ul class="nav nav-icons" role="tablist">
                          <li class="nav-item"><a href="#tab_about" data-toggle="tab" class="nav-link active"><i class="ti-comment"></i>Giới thiệu</a></li>
                          <li class="nav-item"><a href="#tab_history" data-toggle="tab" class="nav-link"><i class="ti-time"></i>Thương hiệu</a></li>
                      </ul>
                      <div class="tab-content" data-local-scroll>
                          <div id="tab_about" class="tab-pane fade show active" role="tabpanel">
                              <p class="lead">Tập đoàn Hải Đăng Group tiền thân là một công ty tư nhân hoạt động trong lĩnh vực xây dựng tại nước Nga xa xôi vào những năm đầu thập niên 2000.</p>
                              <p class="mb-5">Ở bất cứ lĩnh vực nào tham gia hoạt động, Hải Đăng Group đều lấy mục tiêu: sự hài lòng của khách hàng là thành công của Hải Đăng. Bằng nền tảng vững chắc, phát triển ổn định. Sau gần 10 năm hoạt động, Hải Đăng Group từng bước trở thành địa chỉ đáng tin cậy của khách hàng trong lĩnh vực dịch vụ, giải trí.</p>
                              <a href="#contact" class="btn btn-primary mb-4">Thông tin liên hệ</a>
                          </div>
                          <div id="tab_history" class="tab-pane" role="tabpanel">
                              <p class="lead">Với mong muốn góp phần xây dựng quê hương, và sự nỗ lực không ngừng nghỉ của tập thể Lãnh đạo và toàn bộ Cán bộ công nhân viên</p>
                              <p class="mb-5">Tập đoàn đã trở thành chủ sở hữu các thương hiệu uy tín trong thị trường như: GALINA PREMIUM HOTEL GALINA MUD BATH & SPA, GALINA SHOW, GALINA LAKE VIEW, MARITIME HOTEL, BEERFEST, E-LAND FOURSEASON </p>
                              <a href="#contact" class="btn btn-primary mb-4">Thông tin liên hệ</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </section>

      <!-- Section / Contact -->
      <section id="contact" class="section section-double bg-light">

          <div class="row">
              <div class="content col-xl-4 col-md-5">
                  <h2 class="mb-0">Liên hệ <br> với Chúng tôi</h2>
                  <hr class="hr-primary">
                  <address>
                      05 Hùng Vương,<br>
                      Phường Lộc Thọ,<br>
                      Nha Trang, Khánh Hoà<br>
                  </address>
                  <p class="lead">
                      E: <a class="link-inherit" href="#" style="font-size:1rem; font-weight: bold;">booking@haidanggroup.com</a><br>
                      P: <span style="font-size:1rem; font-weight: bold;">+84 901 7000 89</span>
                  </p>
                  <a href="#" target="_blank" class="icon icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="icon icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                  <a href="#" class="icon icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="icon icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                  <a href="#" class="icon icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
              </div>
              <div class="image col-xl-8 col-md-7">
                  <!-- <div id="google-map" class="bg-map" data-latitude="12.255900" data-longitude="109.195280" data-style="wy"></div> -->
                  <div class="mapouter"><div class="gmap_canvas"><iframe width="960" height="560" id="gmap_canvas" src="https://maps.google.com/maps?q=galina%20hotel%20nha%20trang%20viet%20nam&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{text-align:right;height:560px;width:960px;}.gmap_canvas {overflow:hidden;background:none!important;height:560px;width:960px;}</style></div>
              </div>
          </div>

      </section>


    </div> <!-- END CONTENT -->

    <!-- Footer -->
      <footer id="footer" class="footer-fixed bg-dark dark">

          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-2 text-center text-md-left mb-5 mb-md-0">
                      <a href="#"><img src="img/logo-light.svg" width="120" alt=""></a>
                  </div>
                  <div class="col-md-10 text-center text-md-right">
                      <ul class="nav nav-footer mr-4">
                          <li><a href="#" class="active">HOTEL</a></li>
                          <li><a href="#">MUD BATH & SPA</a></li>
                          <li><a href="#">WEDDING & CONVENTION</a></li>
                          <li><a href="#">SHOW</a></li>
                          <li><a href="#">LAKE VIEW</a></li>
                      </ul>
                      <ul class="nav nav-footer">
                          <li><a id="lang-vn" href="#">VN</a></li>
                          <li><a id="lang-en" class="active" href="#">EN</a></li>
                          <li><a id="lang-rus"href="#">RUS</a></li>
                          <li><a id="lang-kr" href="#">KR</a></li>
                      </ul>
                  </div>
              </div>
          </div>

      </footer>
      <!-- Footer / End -->

      <!-- Body Overlay -->
      <div id="body-overlay"></div>

  </div> <!-- END BODY WRAPPER -->

  <!-- Panel - Objects -->
  <nav id="panel-objects">
      <div class="panel-objects-container container dark">
          <h3 class="text-center mb-5">Danh mục dịch vụ: </h3>
          <div class="panel-objects-list row">
              <div class="col-md-4 col-sm-6">
                  <!-- Panel Objects Item -->
                  <div class="panel-objects-item">
                      <a href="/hotel" class="panel-objects-item-image"><img src="img/objects/panel-object01.jpg" alt=""></a>
                      <div class="panel-objects-item-content">
                          <a href="index.html" class="link-reset">
                              <!--<h5 class="mb-0">Hotel</h5>-->
                              <!--<ul class="list-inline mb-0">-->
                                  <!--<li class="list-inline-item"><span class="text-muted">Total area:</span> 22m</li>-->
                                  <!--<li class="list-inline-item"><span class="text-muted">Number of rooms:</span> 32</li>-->
                              <!--</ul>-->
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <!-- Panel Objects Item -->
                  <div class="panel-objects-item">
                      <a href="/mudbath-spa" class="panel-objects-item-image"><img src="img/objects/panel-object02.jpg" alt=""></a>
                      <div class="panel-objects-item-content">
                          <a href="index.html" class="link-reset">
                              <!--<h5 class="mb-0">Mudbath & Spa</h5>-->
                              <!--<ul class="list-inline mb-0">-->
                                  <!--<li class="list-inline-item"><span class="text-muted">Total area:</span> 22m</li>-->
                                  <!--<li class="list-inline-item"><span class="text-muted">Number of rooms:</span> 32</li>-->
                              <!--</ul>-->
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <!-- Panel Objects Item -->
                  <div class="panel-objects-item">
                      <a href="/show" class="panel-objects-item-image"><img src="img/objects/panel-object03.jpg" alt=""></a>
                      <div class="panel-objects-item-content">
                          <a href="index.html" class="link-reset">
                              <!--<h5 class="mb-0">Wedding & Convention</h5>-->
                              <!--<ul class="list-inline mb-0">-->
                                  <!--<li class="list-inline-item"><span class="text-muted">Total area:</span> 22m</li>-->
                                  <!--<li class="list-inline-item"><span class="text-muted">Number of rooms:</span> 32</li>-->
                              <!--</ul>-->
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      
          <!-- Close -->
          <button class="panel-objects-close close" data-toggle="panel-objects"></button>
          
      </div>

  </nav>

<!-- Video Modal / Demo -->
<div class="modal modal-video fade" id="modalVideo" role="dialog">
  <button class="close dark" data-dismiss="modal"></button>
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <iframe height="500"></iframe>
      </div>
  </div>
</div>


<!--SCRIPTS-->
<script src="/dependencies/sails.io.js"></script>
<!-- LOAD CORE SCRIPT THEME -->
<script src="plugins/jquery/dist/jquery.min.js"></script>
<script src="plugins/animsition/dist/js/animsition.min.js"></script>
<script src="plugins/tether/dist/js/tether.min.js"></script>
<script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<script src="plugins/jquery.appear/jquery.appear.js"></script>
<script src="plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
<script src="plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="plugins/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="plugins/photoswipe/dist/photoswipe.min.js"></script>
<script src="plugins/photoswipe/dist/photoswipe-ui-default.min.js"></script>
<script src="plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
<!-- JS Google Map -->
<script src="https://maps.googleapis.com/maps/api/js"></script>

<!-- LOAD CORE SCRIPT THEME -->
<script src="plugins/jquery/dist/jquery.min.js"></script>
<script src="plugins/animsition/dist/js/animsition.min.js"></script>
<script src="plugins/tether/dist/js/tether.min.js"></script>
<script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<script src="plugins/jquery.appear/jquery.appear.js"></script>
<script src="plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
<script src="plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="plugins/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="plugins/photoswipe/dist/photoswipe.min.js"></script>
<script src="plugins/photoswipe/dist/photoswipe-ui-default.min.js"></script>
<script src="plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>

<!-- JS Core -->
<script src="js/core.js"></script>

<!-- JS Gallery -->
<script>
    // var gallerySliderItems = [
    //     {
    //         src: 'img/hotel/slider01.jpg',
    //         w: 1920,
    //         h: 1080
    //     },
    //     {
    //         src: 'img/hotel/slider02.jpg',
    //         w: 1920,
    //         h: 1080
    //     },
    //     {
    //         src: 'img/hotel/slider03.jpg',
    //         w: 1920,
    //         h: 1080
    //     },
    //     {
    //         src: 'img/hotel/slider04.jpg',
    //         w: 1920,
    //         h: 1080
    //     },
    //     {
    //         src: 'img/hotel/slider05.jpg',
    //         w: 1920,
    //         h: 1080
    //     }
    // ];

    // var galleryCarouselItems = [
    //     {
    //         src: 'img/gallery/gallery01.jpg',
    //         w: 1100,
    //         h: 750
    //     },
    //     {
    //         src: 'img/gallery/gallery02.jpg',
    //         w: 1100,
    //         h: 750
    //     },
    //     {
    //         src: 'img/gallery/gallery03.jpg',
    //         w: 1100,
    //         h: 750
    //     },
    //     {
    //         src: 'img/gallery/gallery04.jpg',
    //         w: 1100,
    //         h: 750
    //     },
    //     {
    //         src: 'img/gallery/gallery05.jpg',
    //         w: 1100,
    //         h: 750
    //     },
    //     {
    //         src: 'img/gallery/gallery06.jpg',
    //         w: 1100,
    //         h: 750
    //     }
    // ];
// Init carousel
$('.carousel','#content').slick();

$('.slider-main','#content').slick({
    fade: true,
    dots: false,
    speed: 800,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 4500,
    pauseOnHover: false,
    initialSlide: 1,
    asNavFor: '.slider-main-nav',
});

$('.slider-main-nav','#content').slick({
    arrows: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    infinite: true,
    focusOnSelect: true, 
    centerMode: true,
    asNavFor: '.slider-main'
});

$('.slider-main','#content').slick('slickGoTo',0,true);

$('.carousel-gallery','#content').slick({
    arrows: true,
    infinite: true,
    dots: true,
    autoplay: true,
    autoplaySpeed: 4000
}); 
// END -- Init carousel


// NAVIGATION
var $header = $('#header');
var headerHeight = $('#header').height();
var $mobileNav = $('#mobile-nav');
var $section = $('.section','#content');
var $body = $('body');
var scrollOffset = 0;
if ($header.hasClass('header-horizontal')) scrollOffset = -headerHeight;

var $scrollers = $('#header, #mobile-nav, [data-local-scroll]');
$scrollers.find('a').on('click', function(){
    $(this).blur();
});
$scrollers.localScroll({
    offset: scrollOffset,
    duration: 700
});

var $mainNavigation = $('#navigation-main'),
    $menuItem = $('#navigation-main li > a'),
    mainMenuOffset = null,
    $selector = $mainNavigation.children('.selector');

var setMenuSelector = function() {
    var $activeItem = $mainNavigation.find('a.active');
    if($activeItem.length != 0) {
        mainMenuOffset = $mainNavigation.offset().left;
        $selector.css({
            'width': $activeItem.outerWidth(),
            'left': $activeItem.offset().left - mainMenuOffset + 'px'
        });
    }
}

var checkMenuItem = function(id) {
    $menuItem.each(function(){
        var link = $(this).attr('href');
        if(id==link) {
            $(this).addClass('active');
            setMenuSelector();
        }
        else $(this).removeClass('active');
    });
    // Hide Mobile Nav
    $mainNavigation.removeClass('show');
    $header.removeClass('open');
    $navToggle.removeClass('open');
}

$section.waypoint({
    handler: function(direction) {
        if(direction=='up') {
            var id = '#'+this.element.id;
            checkMenuItem(id);
        }
    },
    offset: function() {
        if ($header.hasClass('header-horizontal')) return -this.element.clientHeight+headerHeight;
        else return -this.element.clientHeight+2;
    }
});
$section.waypoint({
    handler: function(direction) {
        if(direction=='down') {
            var id = '#'+this.element.id;
            checkMenuItem(id);
        }
    },
    offset: function() {
        if ($header.hasClass('header-horizontal')) return headerHeight+1;
        else return 1;
    }
});

// Mobile Navigation
$navToggle.on('click', function(){
    $(this).toggleClass('open');
    if($header.hasClass('header-horizontal')) {
        $mainNavigation.toggleClass('show');
    } else {
        $header.toggleClass('open');
    }
    return false;
});

//END - NAVIGATION

// GALARIES
var galleryContainer = '';
    galleryContainer += '<!-- Root element of PhotoSwipe. Must have class pswp. -->';
    galleryContainer += '<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">';
    galleryContainer += '    <div class="pswp__bg"></div>';
    galleryContainer += '    <div class="pswp__scroll-wrap">';
    galleryContainer += '        <div class="pswp__container">';
    galleryContainer += '            <div class="pswp__item"></div>';
    galleryContainer += '            <div class="pswp__item"></div>';
    galleryContainer += '            <div class="pswp__item"></div>';
    galleryContainer += '        </div>';
    galleryContainer += '        <div class="pswp__ui pswp__ui--hidden">';
    galleryContainer += '            <div class="pswp__top-bar">';
    galleryContainer += '                <div class="pswp__counter"></div>';
    galleryContainer += '                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>';
    galleryContainer += '                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>';
    galleryContainer += '                <button class="pswp__button pswp__button--zoom" title="Zoom in\/out"></button>';
    galleryContainer += '                <div class="pswp__preloader">';
    galleryContainer += '                    <div class="pswp__preloader__icn">';
    galleryContainer += '                      <div class="pswp__preloader__cut">';
    galleryContainer += '                        <div class="pswp__preloader__donut"></div>';
    galleryContainer += '                      </div>';
    galleryContainer += '                    </div>';
    galleryContainer += '                </div>';
    galleryContainer += '            </div>';
    galleryContainer += '            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">';
    galleryContainer += '                <div class="pswp__share-tooltip"></div> ';
    galleryContainer += '            </div>';
    galleryContainer += '            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">';
    galleryContainer += '            </button>';
    galleryContainer += '            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">';
    galleryContainer += '            </button>';
    galleryContainer += '            <div class="pswp__caption">';
    galleryContainer += '                <div class="pswp__caption__center"></div>';
    galleryContainer += '            </div>';
    galleryContainer += '        </div>';
    galleryContainer += '    </div>';
    galleryContainer += '</div>';

$body.append(galleryContainer);

// Photoswipe Gallery
var openPhotoSwipe = function(slide, galleryItems) {
    var pswpElement = document.querySelectorAll('.pswp')[0];

    var options = {
        index: slide // start at first slide
    };

    // Initializes and opens PhotoSwipe
    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, galleryItems, options);
    gallery.init();
}

$('[data-toggle="gallery"]').on('click', function(){
    var items = eval($(this).data('items'));
    var slide = eval($(this).data('slide'));
    openPhotoSwipe(slide,items);
    return false;
});

// END -- GALARIES


// MAP
var $googleMap = $('#google-map');

if($googleMap.length) {

    var yourLatitude = 12.255900;   
    var yourLongitude = 109.195280;    

    var pickedStyle = $googleMap.data('style');     
    var wy = [{"featureType":"all","elementType":"geometry.fill","stylers":[{"weight":"2.00"}]},{"featureType":"all","elementType":"geometry.stroke","stylers":[{"color":"#9c9c9c"}]},{"featureType":"all","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#eeeeee"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#7b7b7b"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#c8d7d4"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#070707"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]}];
    var apple = [{"featureType":"landscape.man_made","elementType":"all","stylers":[{"color":"#faf5ed"},{"lightness":"0"},{"gamma":"1"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#bae5a6"}]},{"featureType":"road","elementType":"all","stylers":[{"weight":"1.00"},{"gamma":"1.8"},{"saturation":"0"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ffb200"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"lightness":"0"},{"gamma":"1"}]},{"featureType":"transit.station.airport","elementType":"all","stylers":[{"hue":"#b000ff"},{"saturation":"23"},{"lightness":"-4"},{"gamma":"0.80"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#a0daf2"}]}];
    var dark = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}];

    var mapOptions = {
        zoom: 15,
        center: {lat: yourLatitude, lng: yourLongitude},
        mapTypeControl: false,
        panControl: false,
        zoomControl: true,
        scaleControl: false,
        streetViewControl: false,
        scrollwheel: false,
        styles: eval(pickedStyle)
    };

    var map = new google.maps.Map(document.getElementById('google-map'), mapOptions);
    var myLatLng = new google.maps.LatLng(yourLatitude,yourLongitude);
    var image = {
        url: 'img/location-pin.png',
        anchor: new google.maps.Point(79, 115),
    };
    var myLocation = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: image
    });
}
// END -- MAP

// Product Feature
$('.plan-container .plan-feature','#content').each(function(){
    var x = $(this).data('x');
    var y = $(this).data('y');
    $(this).css({
        'top': y,
        'left': x
    });
});
// END Product Feature


// MODAL
$('.modal[data-timeout]').each(function(){
    var timeout = $(this).data('timeout'),
        $this = $(this);
    setTimeout(function() {
        $this.modal('show');
    }, timeout)
});

$('[data-toggle="video-modal"]').on('click', function() {
    var modal = $(this).data('target'),
        video = $(this).data('video')

    $(modal + ' iframe').attr('src', video + '?autoplay=1');
    $(modal).modal('show');

    $(modal).on('hidden.bs.modal', function () {
        var $modalContent = $(modal + ' .modal-content')
        $(modal + ' iframe').remove();
        $modalContent.html('<iframe height="500"></iframe>');
    })

    return false;
});

// END MODAL

//PANEL
// Panel Objects

// var $panelObjects = $('#panel-objects'),
//     $panelObjectsToggle = $('[data-toggle="panel-objects"]');

// if($panelObjects.length) {
//     $panelObjectsToggle.on('click', function(){
//         if($panelObjects.is(':visible')) {
//             $body.removeClass('panel-objects-open');
//             $panelObjects.removeClass('show');
//             setTimeout(function(){
//                 $panelObjects.hide(0);
//             },300);
//         } else {
//             $body.addClass('panel-objects-open');
//             $panelObjects.show(0,function(){
//                 $panelObjects.addClass('show');
//             });
//         }

//         return false;
//     });
// }
// END PANEL


</script>


<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcD5Y_JbtjsSVu3sb5tjjwE2qGvjWPpl0&callback=initMap"type="text/javascript"></script> -->

<!-- END LOAD CORE SCRIPT THEME -->
